In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('cars_csv.csv')
df

,Year,Make,Model,Description,Price
0,1997.0,Ford,E350,"ac, abs, moon",3000.0
1,1999.0,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999.0,Chevy,"Venture ""Extended Edition,Very Large""",NaN,5000.0
3,1996.0,Jeep,Grand Cherokee,"MUST SELL! Air, moon roof, loaded",4799.0
4,NaN,NaN,NaN,NaN,NaN